<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/dynamic-menu.js"></script>
    <script>
        $('#main-navbar').dynamicMenu();
    </script>

    <style>
        .navbar {
            border-radius: 0;
             margin-bottom: 0;
        }
        .navbar-brand{
          color:white;
        }
    
    </style>

    {% block head%}
      {% block js_add%}
      {% endblock%}

      {% block css_add%}
      {% endblock%}

    {% endblock%}

  </head>

  <body>
    <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/home">An Interactive Site for Violin Beginners</a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li><a href="/learn">Learn</a></li>
        <li><a href="/quiz">Quiz</a></li>
        
      </ul>
    </div>
  </div>
</nav>
 
    
  
    {% block placeholder%}
    {% endblock%}
    
  </body>


</html>
